
/* Box sizing rules */
/* Box sizingの定義 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
/* デフォルトのpaddingを削除 */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
/* bodyのデフォルトを定義 */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #e3f2f6;
    font-family: 'Kosugi Maru', sans-serif;
    display: flex;
    text-align: center;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
/* classを持たない要素はデフォルトのスタイルを取得 */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
/* img要素の扱いを簡単にする */
img {
    max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

body > .wrapper {
    max-width: 100%;
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.sky-color {
    width: 100%;
}

.morning {
    background-color: #e3f2f6;
}
.noon {
    background-color: #b6e4ff;
}
.afternoon {
    background-color: #FCE8B0;
}
.night {
    background-color: #1D233E;
}

.mainTitle {/*親div*/
    position: relative;/*相対配置*/
    }

.mainTitle h1 {
        position: absolute;/*絶対配置*/
        color:#965b2b;
        font-size: 1.3em;
        font-weight: bold;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        }
        .park_title {
            display: flex;
            }
        .tdl{
            color: #ff2aad;
            display: inline-block;
            width: 50%;
        }
        .tds{
            color:#2047fd;
            display: inline-block;
            width: 50%;
        }
        .tdl h1{
            font-family: 'Passion One', cursive;
            font-size: 3.5em;
            line-height: 1;
            margin-bottom: 10px;
        }
        .tdl_ja_title {
            font-size: 1.2em;
            font-weight: bold;
            color: #ff91d3;
        }
        .tdl_hours{
            color: #ff2aad;
            margin-top: 20px;
            font-size: 1.1em;
        }
        .tds h1{
            font-family: 'Passion One', cursive;
            font-size: 3.5em;
            line-height: 1;
            margin-bottom: 10px;
        }
        .tds_ja_title{
            font-size: 1.2em;
            font-weight: bold;
            color: #607dff;
        }
        .tds_hours{
            color:#2047fd;
            margin-top: 20px;
            font-size: 1.1em;
        }
        .main-title {
            width: 250px;
            height: 70px;
            margin: auto;
            border-radius: 100px 100px 0 0;
            background-color: aliceblue;
        }
        .main-title h1 {
            padding: 20px;
            text-align: center;
            color: #403380;
                }
        .weather_section{
            margin-top: 50px;
        }
        .weather_png {
            width: 60%;
        }
        .temperature span{
            padding: 20px;
            font-size: 40px;
            color:#ff66cc;
        }
        .day_weather {
            display: flex;
            padding: 30px;
            background-color: aliceblue;
            width: 100%;
            border-radius: 30px;
            margin-bottom: 50px;
        }
        [v-cloak] {
            display: none;
        }
        .weather_caption {
            display: inline-block;
            width: 35%;
        }

        @media screen and (max-width:560px){
            /*画面幅が560pxまでの時~スマホ対応~*/


        }